@import './variables';

body{
  box-sizing: border-box;
}

body, button{
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.container{
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .container{
    max-width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .container{
    max-width: 65%
  }
}

@media only screen and (min-width: 1279px) {
  .container{
    max-width: 60%
  }
}