@import '../variables';

.navigation{
  display: flex;
  flex-direction: column;
  a{
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font: 1.125rem;
    color: $green-300;
  }
  a.button{
    width: 100%;
    background: $green-300;
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px #A1C3FC;
    cursor: pointer;
    margin-bottom: 2.625rem;
  }
  a.special{
    text-shadow: 0 4px 4px #00000025;
  }
}