.content{
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.625rem;
    text-align: center;
  }
  
  p{
    font-size: 1.125rem;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .content{
    img{
      width: 90%;
    }
    h2{
      font-size: 1.25rem;
    }
    p{
      font-size: 1.125rem;
    }
  }
}

@media only screen and (min-width: 480px) {
  .content{
    img{
      width: 350px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .content{
    img{
      width: 350px;
    }
  }
}

@media only screen and (min-width: 1279px) {
  .content{
    img{
      width: 350px;
    }
  }
}


