

.content{
  margin: 4rem 0;
  h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.625rem;
    text-align: center;
  }
  
  p{
    font-size: 1.125rem;
    text-align: center;
  }
}